@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: rgb(17, 16, 16);
  color: white;
  display: flex;
  justify-content: space-around;
}

.controllers {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.buttons_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/*  */
#container {
  display: flex;
  flex-direction: column;
  width: 83%;
}

.top,
.bottom {
  display: flex;
}
#cube_lt {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#cube_rt {
  height: 50px;
  background-color: rgb(17, 16, 16);
  display: flex;
  gap: 8px;
  border: 1px solid white;
  border-radius: 5px;
}
#cube_lb {
  display: flex;
  flex-direction: column;
  width: 50px;
  background-color: rgb(17, 16, 16);
  gap: 8px; /* binded with #cube_rb */
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
}
#cube_rb {
  background-color: teal;
  gap: 8px; /* binded with #cube_lb */
  display: flex;
  flex-direction: column;
}
.num_cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  flex-direction: row;
}
.cube_container {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}

.cube {
  background-color: red;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cube.green {
  background-color: green !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input[type='range'] {
  margin-top: 5%;
}

input[type='button'] {
  background-color: rgb(214, 223, 212);
  border-radius: 10px;
  padding: 2%;
}
label {
  text-align: center;
  margin-bottom: 5%;
}
.buttons_container {
  margin-bottom: 10px;
}
#itterations_counter {
  color: orangered;
  font-weight: bold;
}
mark {
  background: transparent;
  color: orangered;
}
